.center {
    text-align: center;
}

img {
    width: 100px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    /*background-color: #117A65;*/
    padding: 3px;
}

h2 {
    text-align: center;
    /*background-color: #138D75;*/
    padding: 2px;
}

h4 {
    text-align: center;
}

.bordery {
    border: 1px solid black;
}

.unbordery {
    border: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #cef5dc;
    color: #104b2e;
    padding: 5px;
    width: 80%;
}

.table-filter {
    background-color: white !important;
    color: white !important;
    width: auto !important;
}

thead, tfoot {
    background-color: mediumseagreen;
    color: black;
}

textarea {
    border: 2px; /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 20%; /* Ширина */
    height: 120px; /* Высота */
    box-sizing: border-box;
}

span {
    color: red;
}

.wrapper {
    margin: 0 auto;
}